<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>NewFilter</filter-name>
        <filter-class>NewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>regServ</servlet-name>
        <servlet-class>regServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServ</servlet-name>
        <servlet-class>loginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stock</servlet-name>
        <servlet-class>model.Stock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stockServ</servlet-name>
        <servlet-class>stockServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adstockServ</servlet-name>
        <servlet-class>adstockServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buystockserv</servlet-name>
        <servlet-class>buystockserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finalbuyserv</servlet-name>
        <servlet-class>finalbuyserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>portfolioServ</servlet-name>
        <servlet-class>portfolioServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finalsellServ</servlet-name>
        <servlet-class>finalsellServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchsellserv</servlet-name>
        <servlet-class>fetchsellserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transacServ</servlet-name>
        <servlet-class>transacServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailServ</servlet-name>
        <servlet-class>MailServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>watchlistServ</servlet-name>
        <servlet-class>watchlistServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dispwatchlt</servlet-name>
        <servlet-class>dispwlistServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displaywlServ</servlet-name>
        <servlet-class>displaywlServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removefromwlServ</servlet-name>
        <servlet-class>removefromwlServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addfeedServ</servlet-name>
        <servlet-class>addfeedServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewfeedServ</servlet-name>
        <servlet-class>viewfeedServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usviewprof</servlet-name>
        <servlet-class>usviewprof</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profviewServ</servlet-name>
        <servlet-class>profviewServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profeditServ</servlet-name>
        <servlet-class>profeditServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profupdateServ</servlet-name>
        <servlet-class>profupdateServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addviseServ</servlet-name>
        <servlet-class>addviseServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewviseServ</servlet-name>
        <servlet-class>viewviseServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adviseaddServ</servlet-name>
        <servlet-class>adviseaddServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adviseviewServ</servlet-name>
        <servlet-class>adviseviewServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>giveadviseServ</servlet-name>
        <servlet-class>giveadviseServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finaladviseServ</servlet-name>
        <servlet-class>finaladviseServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>virepriceServ</servlet-name>
        <servlet-class>virepriceServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewpriceServ</servlet-name>
        <servlet-class>viewpriceServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentServ</servlet-name>
        <servlet-class>paymentServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTransactionServ</servlet-name>
        <servlet-class>SaveTransactionServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prolosscalServ</servlet-name>
        <servlet-class>prolosscalServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServ</servlet-name>
        <servlet-class>logoutServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>topgainServ</servlet-name>
        <servlet-class>topgainServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toploseServ</servlet-name>
        <servlet-class>toploseServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>graphServ</servlet-name>
        <servlet-class>graphServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regServ</servlet-name>
        <url-pattern>/regServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServ</servlet-name>
        <url-pattern>/loginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stock</servlet-name>
        <url-pattern>/Stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stockServ</servlet-name>
        <url-pattern>/stockServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adstockServ</servlet-name>
        <url-pattern>/adstockServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buystockserv</servlet-name>
        <url-pattern>/buystockserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finalbuyserv</servlet-name>
        <url-pattern>/finalbuyserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>portfolioServ</servlet-name>
        <url-pattern>/portfolioServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finalsellServ</servlet-name>
        <url-pattern>/finalsellServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchsellserv</servlet-name>
        <url-pattern>/fetchsellserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transacServ</servlet-name>
        <url-pattern>/transacServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailServ</servlet-name>
        <url-pattern>/MailServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>watchlistServ</servlet-name>
        <url-pattern>/watchlistServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispwatchlt</servlet-name>
        <url-pattern>/dispwatchlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displaywlServ</servlet-name>
        <url-pattern>/displaywlServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removefromwlServ</servlet-name>
        <url-pattern>/removefromwlServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addfeedServ</servlet-name>
        <url-pattern>/addfeedServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewfeedServ</servlet-name>
        <url-pattern>/viewfeedServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usviewprof</servlet-name>
        <url-pattern>/usviewprof</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profviewServ</servlet-name>
        <url-pattern>/profviewServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profeditServ</servlet-name>
        <url-pattern>/profeditServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profupdateServ</servlet-name>
        <url-pattern>/profupdateServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addviseServ</servlet-name>
        <url-pattern>/addviseServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewviseServ</servlet-name>
        <url-pattern>/viewviseServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adviseaddServ</servlet-name>
        <url-pattern>/adviseaddServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adviseviewServ</servlet-name>
        <url-pattern>/adviseviewServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>giveadviseServ</servlet-name>
        <url-pattern>/giveadviseServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finaladviseServ</servlet-name>
        <url-pattern>/finaladviseServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>virepriceServ</servlet-name>
        <url-pattern>/virepriceServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewpriceServ</servlet-name>
        <url-pattern>/viewpriceServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentServ</servlet-name>
        <url-pattern>/paymentServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTransactionServ</servlet-name>
        <url-pattern>/SaveTransactionServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prolosscalServ</servlet-name>
        <url-pattern>/prolosscalServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServ</servlet-name>
        <url-pattern>/logoutServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>topgainServ</servlet-name>
        <url-pattern>/topgainServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toploseServ</servlet-name>
        <url-pattern>/toploseServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>graphServ</servlet-name>
        <url-pattern>/graphServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
